.c-select {
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  position: relative;

  .selected {
    padding: 10px;
    display: flex;
    border-radius: 5px 5px 0 0;
    background-color: #419bf9;
    justify-content: space-between;

    svg {
      align-self: center;
      margin: 0 0 0 10px;
    }

    &:first-child:last-child {
      border-radius: 5px;
    }

    &:hover {
      opacity: 0.95;
    }
  }

  .options {
    background-color: #fff;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .option {
    padding: 10px;
    background-color: #58a9ff;

    &:last-child {
      border-radius: 0 0 5px 5px;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  .slide-enter-active,
  .slide-leave-active {
    transform-origin: top;
    transition: transform 0.1s linear;
  }

  .slide-enter-from,
  .slide-leave-to {
    transform: scaleY(0);
  }
}
