.c-search {
  position: relative;
  margin: 0 0 0 36px;
  width: 160px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: text;

  .search__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
  }

  .search__input {
    width: 100%;
    font-size: 15px;
    padding: 0 12px 0 40px;
    color: #554d56;
    background-color: #eeeeee;
    caret-color: #419bf9;
  }
}
