.section.dashboardSection {
  margin-bottom: 36px;
}

.dashboardSection.section {
  margin-top: 0;
}

.dashboardScreenGrid {
  grid-gap: 24px 0;
  padding: 12px 0;
}

.dashboardScreenGrid,
.dashboardSectionHeader {
  display: grid;
  grid-template-columns: repeat(auto-fill, 264px);
  justify-content: center;
}

.dashboardScreenGrid .dashboardScreenWrapper {
  position: relative;
}

.screenThumbnailSectionDividerWrapper {
  position: relative;
}

.screenThumbnailPaddingArea.left {
  height: 520px;
}

.screenThumbnailPaddingArea.left {
  left: -24px;
}

.screenThumbnailPaddingArea {
  position: absolute;
  top: 0;
  width: 24px;
}

.screenThumbnailPaddingArea.right {
  height: 520px;
}

.screenThumbnailPaddingArea.right {
  right: 0;
}

.screenThumbnailPaddingArea {
  position: absolute;
  top: 0;
  width: 24px;
}

.dashboardScreenGrid .dashboardScreen {
  margin-right: 24px;
}

.screenThumbnail {
  position: relative;
  background-color: #fff;
}

.screenThumbnail .screenInfo {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 20px;
  line-height: 18px;
  margin: 6px 0 0;
}

.pageImage:not(.iMNkurlfzLyABASuLgCL):not(.tbV5liULVzHn_PjTOx3o) {
  outline: 1px solid rgba(188, 181, 185, 0.3);
}

.pageImage {
  display: block;
  position: relative;
  font-size: 0;
  transition: 0.3s;
}

a {
  text-decoration: none;
  font-weight: normal;
}

.screenThumbnail .screenInfo .screenName {
  width: 100%;
  flex-shrink: 1;
  --input-line-height: 18px;
  --input-font-size: 15px;
  --input-color: var(--teflon);
}

.highlightTextInput {
  display: inline-block;
}

.screenThumbnail .screenLastUpdated {
  margin-left: 6px;
  font-size: 15px;
  line-height: 18px;
  color: #979197;
}

.textInput .mirror,
.textInput input {
  border: solid rgba(255, 255, 255, 0.01);
  border-width: 0 0 2px;
  background-color: transparent;
  border-image-width: 2px;
  width: var(--input-width, 100%);
}

.textInput .mirror span,
.textInput input,
.textInput.withPrefix::before,
.textInput.withSuffix::after {
  color: var(--input-color, #554d56);
  font-size: var(--input-font-size);
  font-weight: var(--input-font-weight, normal);
  line-height: var(--input-line-height, normal);
}

@supports (border-image-repeat: round) {
  .textInput:hover input:read-write {
    border-image-repeat: round;
  }
}

.textInput:hover input:read-write {
  border-image-source: url(../../public/img/borderImageHover.svg);
  border-image-slice: 0 0 2 0;
  border-image-repeat: repeat;
}
