.block {
  width: 24px;
}

.panel {
  width: 100%;
  height: 52px;
  padding-right: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  --dropdown-bg: transparent;
  --dropdown-bg-hover: #f7f7f7;
  --dropdown-bg-active: #dbd9db;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 76px;
  background-color: #fff;
  z-index: 20;
}

.panel .panelContainer:first-of-type {
  justify-content: flex-start;
}

.panel .panelContainer.margin {
  flex: 0 1 auto;
  margin-right: 12px;
}

.panel .panelContainer {
  display: flex;
  align-items: center;
  flex: 1;
}

.sort {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: var(--dropdown-width, auto);
  height: var(--dropdown-height, 28px);
  background-color: transparent;
  padding: 0 12px;
  border-radius: 2px;
  cursor: pointer;
}

.sort span {
  font-size: var(--dropdown-label-font-size, 15px);
  font-weight: var(--dropdown-label-font-weight, normal);
  line-height: 18px;
  color: #554d56;
  flex-shrink: 1;
}

.sort .chevron {
  margin: 2px 0 0 6px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.panel .search {
  width: 140px;
  height: 28px;
  position: relative;
  border-radius: 2px;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: text;
}

.search svg {
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  position: absolute;
}

svg:not(:root),
symbol,
image,
marker,
pattern,
foreignObject {
  overflow-x: hidden;
  overflow-y: hidden;
}

.search input {
  width: 100%;
  height: 100%;
  font-size: 15px;
  padding: 0 0 0 34px;
  color: #554d56;
  caret-color: #419bf9;
}

/* input[type='search']::-webkit-search-cancel-button {
    display: none;
  } */

/* .search:focus-within input[type='search']::-webkit-search-decoration,
  .search:focus-within input[type='search']::-webkit-search-cancel-button,
  .search:focus-within input[type='search']::-webkit-search-results-button,
  .search:focus-within input[type='search']::-webkit-search-results-decoration {
    display: block;
  } */

.panel .panelContainer:last-of-type {
  justify-content: flex-end;
}

.buttonCreate {
  position: relative;
  display: flex;
}

.button.primary {
  background-color: #419bf9;
  color: #fff;
}

.button.ninja,
.button.primary,
.button.secondary,
.button.warning {
  min-width: 72px;
  height: 28px;
  padding: 5px 12px;
  border-radius: 2px;
  line-height: 18px;
  font-size: 15px;
}

.button {
  position: relative;
  background: transparent none;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.dragDropContainer .dragDropItems {
  overflow: auto;
  height: 100%;
  position: relative;
}

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 296px);
  grid-gap: 24px 0;
  justify-content: center;
  padding: 12px 36px 24px;
}

.noProjects {
  padding: 60px 84px 108px;
  text-align: center;
}

.noProjects h3 {
  line-height: 28px;
  font-weight: 300;
  font-size: 24px;
  color: #554d56;
  margin-bottom: 12px;
}

.cardConteiner {
  position: relative;
}

.popoverContainer {
  line-height: 0;
  cursor: pointer;
}

.cardConteiner .card {
  position: relative;
  width: 272px;
  border-radius: 2px;
  border: 1px solid #edeced;
  cursor: pointer;
}

.card .badgeConteiner {
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  max-width: 100%;
  display: flex;
  pointer-events: none;
}

a {
  text-decoration: none;
  font-weight: normal;
}

.card .myBadge {
  flex-shrink: 1;
  margin-left: auto;
  z-index: 17;
  max-width: 100%;
  min-width: 0;
}

.imageContainer {
  width: 100%;
  height: 92px;
  background-color: #fbfbfb;
}

.cardBody {
  padding: 18px 12px 12px;
  background-color: #fff;
}

.button.secondary {
  background-color: #edeced;
  color: #554d56;
}

.button.ninja,
.button.primary,
.button.secondary,
.button.warning {
  min-width: 72px;
  height: 28px;
  padding: 5px 12px;
  border-radius: 2px;
  line-height: 18px;
  font-size: 15px;
}

.button {
  position: relative;
  background: transparent none;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.statusIndicator {
  display: flex;
  align-items: center;
  background-color: #fff;
  max-width: 100%;
  height: 22px;
  padding: 3px 8px 3px 5px;
  border: 1px solid #edeced;
  border-radius: 12px;
}

.colorDot.yellow {
  --circle-color: #fecf33;
}

.colorDot.small {
  width: 12px;
  height: 12px;
}

.colorDot {
  border-radius: 50%;
  background-color: #fecf33;
}

.statusIndicator span {
  flex-shrink: 1;
  color: #554d56;
  font-size: 14px;
  line-height: 18px;
  margin-left: 4px;
}

.imageContainer .projectImage {
  width: 100%;
  height: 92px;
  object-fit: scale-down;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.cardBody .typeAndTimeAgo {
  display: flex;
  justify-content: space-between;
}

.cardBody .projectName {
  margin-bottom: 18px;
  line-height: 21px;
  font-size: 18px;
  color: #554d56;
}

.memberAvatarList {
  display: flex;
  height: 30px;
}

.cardBody .typeAndTimeAgo .projectType {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #419bf9;
  margin-bottom: 6px;
}

.cardBody .typeAndTimeAgo .timeAgo {
  font-size: 14px;
  line-height: 16px;
  color: #979197;
}
