.u-slot-list {
  .slots {
    display: grid;
  }
  .slot {
    align-items: center;
    display: flex;
    justify-content: center;
    height: auto;

    &:hover {
      border: 1px solid #419bf9;
    }
  }
  .deleteSlot {
    opacity: 0.5;
  }
  .emptySlot {
    margin: 5px;
    border: 1px dotted;
    color: #554d56;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex: 1;
  }
  .staticSlot {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6a6a6a;
    color: white;
    padding: 5px;
  }
  /* placeholders */
  .slot-placeholder {
    background-color: #eeeeee;
    height: 100px;
  }
  @keyframes loading {
    0% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
  .placeholder-animate {
    animation-name: loading;
    animation-timing-function: steps(10, end);
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 1s;
  }
  /* animations */
  .list-move,
  .list-enter-active,
  .list-leave-active {
    transition: all 0.5s ease;
  }
  .list-enter-from,
  .list-leave-to {
    opacity: 0;
    transform: scale(0.3);
  }
}
